
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><font color="black"> <b>UBER</b> </font><font color="Green">EATS </font></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#!Home">Home</a> </li>
            <li><a href="#!Dash"><span class="glyphicon glyphicon-dashboard"></span> DashBoard</a></li>
        </ul>
    </div>
</nav>

<h2 class="text-center text-danger">Customers</h2>

<table class="table table-hover general-table" cellspacing="40" align="center" style="width:80%" ng-controller="CustController" ng-model="custSearch">
    <thead class="grid-top panel">
        <tr>
            <th>Customer First_Name</th>
            <th>Customer Last_Name</th>
            <th>Customer Mobile</th>
            <th>Customer Email</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="res in cust_Data | filter : custSearch">
            <td>{{res.firstName}}</td>
            <td>{{res.lastName}}</td>
            <td>{{res.mobile}}</td>
            <td>{{res.email}}</td>
        </tr>
    </tbody>
</table>





