 <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><font color="black"> <b>UBER</b> </font><font color="Green">EATS </font></a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#!Home">Home</a> </li>
                <!--<li><a href="#!Search"><span class="glyphicon glyphicon-search"></span> Search</a></li>-->
            </ul>

            <ul class="nav navbar-nav navbar-right" ng-show="!currentUser">

                <li><a href="#!Rest" class="text-right text-danger"><span class="glyphicon glyphicon-registration-mark"></span>Register Restuarant</a></li>
                <li><a href="#!Prod" class="text-right text-danger"><span class="glyphicon glyphicon-apple"></span>Add Product</a></li>
                <li><a href="#!UploadPic" class="text-right text-danger"><span class="glyphicon glyphicon-apple"></span>Add Picture</a></li>
                <li><a href="#!ViewCust" class="text-right text-danger"><span class="glyphicon glyphicon-check"></span>View Customers</a></li>
                <li><a href="#!viewRest" class="text-right text-danger"><span class="glyphicon glyphicon-check"></span>View Restaurants</a></li>
                <li><a href="#!Logout" class="text-right text-danger"><span class="glyphicon glyphicon-log-out"></span>Admin Logout</a></li>
                <li><a href="#!Orders" class="text-right text-danger"><span class="glyphicon glyphicon-log-out"></span>View Orders</a></li>

            </ul>
        </div>
    </nav>


    